

.indpost {
    border: 2.5px black solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% auto;
    padding: 2%;
}

.newpostbutton {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.posthead {
    display: flex;
    justify-content: space-between;
}

.postfoot {
    display: flex;
    justify-content: space-between;
}

.postImage {
    display: flex;
    justify-content: center;
}

.invisible {
    color: transparent;
}

.emojiOption {
    text-align: center;
}

.postDetailImage {
    align-self: center;
}

.newReaction-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.newReaction-input {
    margin: 1rem 0;
}

.newReaction-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.reaction-btn {
    margin: 1rem;
}